<div class="item">
  <div class="item__img">
    <a href="#">Quick view</a>
  </div>
  <header>Item Name</header>
  <div class="item__price">
    <span class="curr">UAH</span>
    <span class="num"> 45.50</span>
  </div>
  <div class="item__add">
    <button class="item__add-fav">
      <svg>
        <use xlink:href="./assets/img/svg-sprites.svg#like"></use>
      </svg>
    </button>
    <input type="number" value="1" min="1">
    <button class="item__add-cart" (click)="addToCart()">
      <svg>
        <use xlink:href="./assets/img/svg-sprites.svg#basket"></use>
      </svg>
    </button>
  </div>
</div>
