<!--table-->
<!--<table border="1">-->
  <!--<tr>-->
    <!--<th>ID</th>-->
    <!--<th>NAME</th>-->
    <!--<th>EMAIL</th>-->
    <!--<th>STATUS</th>-->
  <!--</tr>-->
  <!--<tr *ngFor="let user of data">-->
    <!--<td>{{user.id}}</td>-->
    <!--<td>{{user.name}}</td>-->
    <!--<td>{{user.email}}</td>-->
    <!--<td>{{user.status}}</td>-->
  <!--</tr>-->
<!--</table>-->
<app-search
  [attributes]='columns'
  [data]="data"
  [allData]="data"
  (changeData)="changeData($event)">
</app-search>

<app-data-table
  [columns]='columns'
  [data]="outputData"
  [image]="true">

</app-data-table>
