@import "../../styles/sass/variables"
@import "../../styles/sass/mixin"

.login
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  font-family: 'Open Sans', sans-serif
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  @include login-gradient


  .headers
    width: 80%
    margin: 0 auto
    padding: 20px 20px 0
    text-align: center

    h2
      color: $login-color
      font-size: 28px
      text-shadow: 0 0 10px $login-text-shadow
      letter-spacing: 1px
      margin: 0 0 10px

    h3
      color: $login-color
      opacity: .7
      font-size: 16px
      text-shadow: 0 0 10px $login-text-shadow
      font-weight: lighter
      margin: 0 0 15px

  .login-form
    width: 390px
    margin: 0 auto
    padding: 20px 20px 35px
    transition: margin $transition

  .form-group
    input
      height: 40px
      width: 100%
      font-size: 13px
      outline: none
      background: $login-input-bg
      text-shadow: 1px 1px 1px $login-input-bg
      border: 1px solid $login-input-bg
      border-radius: 6px
      box-shadow: $login-input-shadow
      transition: box-shadow .5s ease
      margin-bottom: 15px
      padding: 0 15px
      color: $login-color

    input:focus
      box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2)

    label
      line-height: 2

  .submit
    padding: 12px 10px
    outline: none
    border-radius: 20px
    text-align: center
    border: 1px solid $login-btn
    color: $login-btn
    width: 110%
    font-size: 13px
    cursor: pointer
    background: transparent
    transition: background $transition, color $transition
    box-shadow: inset 0 0 2px $login-btn, 0 0 2px $login-btn
    margin-left: -5%
    margin-top: 10px

    &:hover
      background: $login-btn
      color: $login-color
      box-shadow: none

